<div class="nav-wrapper">
  <div class="icon-bar">

    <%= link_to root_path do %>
      <i class="fa-solid fa-house"></i>
    <% end %>

    <%= link_to shows_path do %>
      <i class="fa-solid fa-masks-theater"></i>
    <% end %>

    <%= link_to selected_shows_path do %>
      <i class="fa-regular fa-heart"></i>
    <% end %>


    <%= link_to playlists_path do %>
      <i class="fa-solid fa-music"></i>
    <% end %>
  </div>
</div>
