.modal-content{
  background-color: var(--light-grey);
}

.modal-song-title, .modal-show-title{
  font-size: 22px;
  margin-left: 25px !important;
  margin-top: 15px;
}

.modal{
  margin-top: 70px;
}

.content{
  font-size: 16px;
}
